<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="./script/main.js" type="module" defer></script>
  </head>

  <body>
    <div class="message-container">
      <button class="btn connect-btn ">CHAT WITH US</button>
      <button class="btn disconnect-btn">END CHAT</button>
      <div class="container">
        <div class="message-display">

        </div>
        <!-- <form action="/message" method="POST" class="text">
          <input type="text" class="message-text" name="text" placeholder="TYPE YOUR MESSAGE" />
          <button class="btn-message">SEND</button>
        </form> -->
        <div class="text">
          <input class="message-text"  placeholder="TYPE YOUR MESSAGE" />
          <button class="btn-message">SEND</button>
        </div>
      </div>
      <div class="toggle">
        <img src="images/chat-g.png" alt="chat image">
      </div>

    </div>

  </body>

</html>
